{% extends "motionlab/base.html" %}
{% load static %}
{% block navbar %}
<li class="navbar-item"><a class="navbar-link" href="javascript:history.go(-1)"><i class="fa fa-arrow-left" style="background: none; color: inherit; line-height: inherit; margin: 0; font-size: inherit; padding: inherit; padding-right: 0.2em;"></i> Back to the study</a></li>
{% endblock %}
{% block content %}

<style>
#id_subject {
    width: 100%
}

#id_your_email {
    width: 100%
}

#id_message {
    width: 100%
}
</style>
  <!-- Primary Page Layout
       –––––––––––––––––––––––––––––––––––––––––––––––––– -->

  <div class="section" id="analyze" style="margin-top: 0; padding-top: 5em; padding-bottom: 2em;">
    <div class="container">
	<!-- templates/email.html -->
	<h1>Contact Us</h1>
	<form method="post">
	  {% csrf_token %}
	  {{ form.as_p }}
	  <div class="form-actions">
	    <button type="submit">Send</button>
	  </div>
	</form>
      </form>
      <!--img class="u-max-full-width" src="{% static "images/placeholder.png" %}"-->
    </div>
  </div>

<div class="section get-help" id="license" style="text-align: left;padding-bottom: 1em; padding-top: 0em;">
    <div class="container" style="text-align: center;">
        <a class="button" href="/">Return to the main page</a>
    </div>
</div>

{% endblock %}
