{% extends "motionlab/base.html" %}
{% load static %}
{% block content %}
  <!-- Primary Page Layout
       –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <style>
    p {
    font-size: 1.4em;
    }
  </style>
  <div class="section" style="padding-top: 3rem; font-size: 1.2em; padding-bottom: 1em;" id="instructions">
    <div class="container" style="text-align: left">
      <h2 class="section-heading" style="text-align: center">Qualifying Question {{ current }}{% if hackmode %}a{% endif %}&nbsp;/&nbsp;{{ all }}</h2>

      <p>{{ question }}</p>

<p style="text-align: center; font-size: 1.8em;"><a class="button button-primary" href="{% if answer is False %}{% ifequal next 12 %}{% url 'readiness' 100 %}{% else %}{% url 'thankyou' thankyoumode %}{% endifequal %}{% else %}{% url 'readiness' next %}{% endif %}">Yes</a> &nbsp; <a class="button button-primary" href="{% if answer is True %}{% url 'thankyou' thankyoumode %}{% else %}{% ifequal next 13 %}{% url 'self_assess' %}{% else %}{% url 'readiness' next %}{% endifequal %}{% endif %}">No</a></p>

    </div>
  </div>
{% endblock %}
