{% extends "motionlab/base.html" %}
{% load static %}
{% block navbar %}
<li class="navbar-item"><a class="navbar-link" href="javascript:history.go(-1)"><i class="fa fa-arrow-left" style="background: none; color: inherit; line-height: inherit; margin: 0; font-size: inherit; padding: inherit; padding-right: 0.2em;"></i> Back to the study</a></li>
{% endblock %}
{% block content %}
  <div class="section get-help legal" id="license" style="text-align: left; padding-top: 20em; padding-bottom: 20em;">
    <div class="container">
      <h3 class="section-heading" style="text-align: center">Under Construction...</h3>
    </div>
  </div>
{% endblock %}